.nav-link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  display: inline;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.text-red{
    color: red;
    text-transform: capitalize;
    text-decoration: underline;
}

h1 {
  color: tomato;
  text-align: center;
}

p {
  color: rgb(28, 188, 188);
}

img {
  width: 300px;
}

footer li {
  display: inline;
  font-weight: bold;
  color: #000000;
}
